@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-size: 44px;
  margin-bottom: 0;
}

p{
  margin-top: 5px;
}

.main{
  justify-content: center;
  display: grid;
  text-align: center;
}

.register-card{
  padding-top: 50px;
  width: 450px;
  height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 15px;
}


input{
  border-radius: 10px;
  width: 140px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  transition: 0.3s;
}

input:hover{
  background-color: rgba(128, 128, 128, 0.205);
}

input:focus{
  background-color: rgba(128, 128, 128, 0.555);
}


.login-link{
  color: rgb(94, 94, 230);
  text-decoration: none;
  transition: 0.3s;
}

.login-link:hover{
  background-color: rgba(128, 128, 128, 0.205);
}
